/* public/css/style.css */

@import "./components/Cours/Admin/_index.css";
@import "./components/Renders/Iphone-x/_index.css";
@import "./components/_create.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8ec5fc;
  background-image: linear-gradient(225deg, #8ec5fc 63%, #e0c3fc 100%);
}

#__next {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex: 1;
}

.content {
  padding: 10px 16px;
  margin: 0 auto;
  flex: 1;
  width: 90%;
}

@media screen and (min-width: 120rem) and (max-width: 90rem) {
  .content {
    max-width: 960px;
  }
}
@media screen and (min-width: 90rem) and (max-width: 64rem) {
  .content {
    max-width: 720px;
  }
}
@media screen and (min-width: 64rem) and (max-width: 40rem) {
  .content {
    max-width: 540px;
  }
}
@media screen and (max-width: 40rem) {
  .content {
    width: calc(100% - 32px);
  }
}
